html{
    font-family: 'Spicy Rice', cursive;
}

body{
    
    margin: 0;
    height: 100%;
}

*{
    box-sizing: border-box
}

ul,ol{
    margin:0;
    padding:0;
    list-style: none;
}

a{
    text-decoration: none;    
}

img{
    width: 100%;
    height: 100%;
}

p{
    text-align: justify;
}
a:hover{
    cursor: pointer;
}