extends layout
block content
      p Welcome #{name}!
      form(action='new-postit', method='GET')
        button(type='submit') Create postit  
      div
        ul
          each val in postits
            li
              textarea= val.text
              form(action='delete-postit', method='POST')
                //- input(type='text', name='postitId', value=val.id)
                button(type='submit', name='postitId', value=val.id) Delete

      a(href='/logout') logout