extends layout/default

block content
    section(class='auth')
        h2(class='auth__title') Login to Cello
        form(class='form')
            input(class='form__input', name='username')
            input(class='form__input', name='password', type='password')
            button(class='form__button') Log In
            p(class='form__text')
                | or 
                button(class='form__link', type='button') Sign Up
