extends layout/default

block content
    section(class='auth')
        h2(class='auth__title') Register to Cello
        form(class='form')
            input(class='form__input', name='name')
            input(class='form__input', name='username')
            input(class='form__input', name='password', type='password')
            input(class='form__input', name='confirm_password', type='password')
            button(class='form__button') Sign Up
            p(class='form__text')
                | or 
                button(class='form__link', type='button') Log In
