extends layout
block content
      form(action='/login', method='POST')
        input(type='text', name='username', placeholder='username')
        input(type='password', name='password', placeholder='password')
        button(type='submit') Login
      if error
        p(class='error') #{error}
      br
      a(href='/') Go back
      div(class='links')
        a(href='/register') Register  |
        a(href='/login')   Log in