.home-section{
    background: linear-gradient(to bottom, rgba(252,201,32,1) 0%, rgba(252,201,32,1) 15%, rgba(246,246,246,1) 88%, rgba(246,246,246,1) 100%);
   
    @include screen(1280,"box-shadow", inset 0px 1px 136px -15px rgba(0,0,0,0.75));
    position: relative;
    padding: 5em 1em;
    @include screen(1024,"padding-top", 8em);
    height: 100%;
    & .home-section__main{
        padding: 2em 2em;
        & .home-section__main__historia{
          
            & ul{
                list-style: disc;
                margin-left: 2em;
                & li{
                    padding-bottom: 0.5em;
                }
            }
            & .home-section__main__historia__img--float-right{
                margin-bottom: 1em;
                @include screen(480,"margin-bottom", 0);
                @include screen(480,"float", right);
                @include screen(480,"margin-left", 1em);
                @include screen(480,"width", 200px);
              
            }
            & .home-section__main__historia__img--float-left{
                margin-bottom: 1em;    
                @include screen(480,"margin-bottom", 0);
                @include screen(480,"float", left);
                @include screen(480,"margin-right", 1em);
                @include screen(480,"width", 200px);
               
            }
            
            & .home-section__main__historia__desc{
                overflow: hidden;
                @include screen(480,"overflow", visible);
            }
            & .home-section__main__historia__title{
                text-align: center;
                color:green;
                text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
            }
          
        }
        & .home-section__main__dervidados,
        .home-section__main__tools{
             & > div{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1em;
                flex-wrap: wrap;
                & p{
                    width: 100%;
                    margin: 0;
                    @include screen(480,"width", 60%);
                    @include screen(480,"margin-left", 1em);
                    @include screen(640,"width", 60%);
                    @include screen(1024,"width", 76%);
                }
            }
            & .home-section__main__derivados__img,
            .home-section__main__tools__img{
                width: 100%;
                margin-bottom:1em;
                @include screen(480,"width", 100px);
                @include screen(480,"height", 100px);
                @include screen(540,"width", 150px);
                @include screen(540,"height", 150px);
                @include screen(640,"width", 200px);
                @include screen(640,"height", 200px);
              
            }
            & .home-section__main__dervidados__title,
            .home-section__main__tools__title{
                text-align: center;
                color:green;
                text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
            }
        }
    }
}

