.nav-mobile{
    @include screen(1024,'display',none);
    background-color: black;
    width: 100%;
    opacity: 0.9;
    transition: left 0.3s linear, opacity 0.3s linear;
    position: absolute;
    top:0;
    left:-100%;
    opacity: 0;
    z-index: 1000;    
    .nav-mobile__menu{
        padding: 0 2em;
        .nav-mobile__menu__item{
            &:first-child{
                position: relative;
                padding-bottom: 0em;
                border-bottom: 0;
                &::before{
                    content: "\62";
                    color: orange;
                    font-size: 2em;
                    position: absolute;
                    right: 0;
                }
            }
            &:last-child{
                margin-bottom: 4em;
            }
            text-align: center;
            padding: 2em 0;
            border-bottom: 1px solid $orange;
            a{
                display: block;
                color:orange;
                
            }
        }
    }
}


.show-nav-mobile{
    left:0;
    opacity: 1;
}