.login-form--update{
    height: 500px;
    overflow-y: scroll;
    margin-top: 5em;
    padding: 1em;
}

.profile-img{

    width: 107px;
    height: 124px;
    border: 1px solid black;
    margin-bottom: 1em;
}