@import "https://file.myfontastic.com/TKhv4HW6qV8tGeVkfgpQ8R/icons.css";
body {
  margin: 0; }

html {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#root {
  background-color: bisque;
  overflow: hidden;
  height: 100vh; }

.button {
  padding: 0.5em 1em;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none !important; }
  .button:hover {
    cursor: pointer;
    background-color: black;
    color: white; }

.board {
  margin: 0 auto;
  margin-top: 2em;
  width: 58.5%;
  padding: 2em 2em;
  border-radius: 5px;
  height: 843px;
  overflow-y: scroll;
  background-image: url("/images/fondo.jpg");
  background-size: contain;
  background-repeat: no-repeat; }
  .board .board__forms .board__panel-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .board .board__forms .board__panel-buttons button:first-child {
      margin-right: 2em; }
  .board .board__forms form {
    width: 50%;
    margin: 0 auto; }
    .board .board__forms form > div {
      margin-bottom: 2em; }
      .board .board__forms form > div:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .board .board__forms form > div input {
        display: block;
        width: 100%;
        padding: 0.5em 1em;
        border-radius: 5px; }
        .board .board__forms form > div input[type="submit"] {
          display: inline-block;
          width: auto; }
  .board .board__panel-postits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }

.postit {
  position: relative;
  line-height: 1;
  text-align: center;
  width: 275px;
  margin: 25px;
  min-height: 250px;
  max-height: 250px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-top: 60px solid #fdfd86;
  font-family: 'Reenie Beanie';
  font-size: 22px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .postit > button {
    position: absolute;
    bottom: 15px;
    right: 15px; }

.postit:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0); }

.postit a:before {
  content: "\63";
  top: -48px;
  position: absolute;
  right: 6px;
  color: black; }
