.register-section{
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(248,169,0,1) 0%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);  
    position: relative;
    width: 100%;
    padding: 4.05em 2em;
    & h2{
        text-align: center;
        margin-bottom: 1em;
    }
    & .form{
        margin: 0 auto;
        width: 70%;
        & > div:last-child{
            display: flex;
            justify-content: space-between;
        }
        & .form-image-profile{
            width: 138px;
            height: 150px;
            border: 1px solid black;
            margin-bottom: 1em;
            & + button{
                margin-bottom: 1em;
            }
        }
    }
    
}

