.home-section{
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,231,103,1) 25%, rgba(248,171,5,1) 100%);
    position: relative;
    height: 100%;
    & .home-section__main{
        padding: 2em 2em;
    }
}

