
.post {
    background-color: #c8e4fe;
    width: 100px;
    height: 100px;
    margin: 50px auto 0px;
    text-align: center;
    
}

.post textarea {
    background: transparent;
    border: none;
    width: inherit;
    height: inherit;
    resize: none;
}



.error {
    color: red;
}

.container{
    margin: 30px auto;
    text-align: center;
}

.form{
    margin-top: 30px
}

.btn {
    background-color: blueviolet;
}

.h1{
    margin-top: 20px;
}
