html{

    width: 100%;
    height: 100%;
   
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
   
}

.main-app{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#root,#root > div:first-child{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}