@import 'reset';
@import 'general';
@import '../form-login/form-login';
@import '../header/header';
@import '../landing/landing';
@import '../list/list';
@import '../card/card';
@import '../register/register';

