extends layout
block content
      p Welcome #{name}!
      a(href='/logout') logout
      form(action='/postit', method='POST')
            input(type='text', name='postitText', placeholder='Type text here...')
            button(type='submit') Create postit
      if error
         p(class='error') #{error}
         ul #{user.postits.map(post => li #{post.text}).join('')}

         a(href='/logout') logout