.form{
                         
    & .form-group-field{
        margin-bottom: 1em;
        &:first-child{
            margin-top: 1em;
        }
        & label{
            display: block;
        }
        & input,select{
            display: block;
            width: 100%;
            padding:0.5em;
            border-radius: 10px;
            &:focus{
                border-color:$orange;
            }
        }
        & textarea{
            width: 100%;
            padding:0.5em;
        }
    }
}