extends layout
block content
    section(class='board')
        section(class='board__forms')
            section(class='board__panel-buttons')
                a(class='button' href="/user/register") Register
                a(class='button' href="/user/login") Login         
