extends layout
block content
    section(class='board')
        section(class='board__forms')
            form(method="POST" action = "/postit/add")
                h2(class="errormessage") #{errorMessage} #{message}      
                .group-field
                    input(type='usnername' name='content' placeholder='Write something...')
                .group-field
                    input(class="button" type='submit' name='submit' value='Add Postit')
                    a(class='button' href="/logout") Logout
        section(class="board__panel-postits")
            each postit in postits
                article(class="postit") #{postit.content}
                    a(href="#" class="icon-x")
                    button(class="btn btn-primary btn-lg") Edit       
        