body .main .add, body .main .board, body .main .register, body .main .login {
  position: relative;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  background-color: #dfe3e6;
  border-radius: 1rem;
}

body .main .board__input, body .main .board .post {
  width: -webkit-fill-available;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}
body .main .board__input:focus, body .main .board .post:focus {
  outline: none;
}

body .main .board .post__title, body .main .board__title, body .header .dropdown__title {
  margin: 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .main .add__input, body .main .board__title:focus, body .main .register .form__input, body .main .login .form__input {
  width: -webkit-fill-available;
  height: 20px;
  margin: 0 0 0.5rem;
  padding: 4px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border: 2px solid #026aa7;
  border-radius: 0.5rem;
  transition: border-color 1s linear;
}
body .main .is-invalid.add__input, body .main .is-invalid.board__title:focus, body .main .register .is-invalid.form__input, body .main .login .is-invalid.form__input {
  border-color: #d9534f;
  transition: border-color 0.1s linear;
}
body .main .add__input:focus, body .main .board__title:focus, body .main .register .form__input:focus, body .main .login .form__input:focus {
  outline: 0;
}

body .main .add__button, body .main .register .form__button, body .main .login .form__button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5aac44;
  box-shadow: 0px 3px 5px -3px #478736;
  color: #fff;
  font-size: 16px;
  transition: all 0.1s linear;
}
body .main .add__button:hover, body .main .register .form__button:hover, body .main .login .form__button:hover {
  cursor: pointer;
  background-color: #509a3d;
}
body .main .add__button:focus, body .main .register .form__button:focus, body .main .login .form__button:focus {
  outline: none;
}

body .main .register .form__link, body .main .login .form__link, body .header .dropdown__link {
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #17394d;
  font-size: 16px;
  text-decoration: none;
}
body .main .register .form__link:hover, body .main .login .form__link:hover, body .header .dropdown__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .main .register .form__link:focus, body .main .login .form__link:focus, body .header .dropdown__link:focus {
  outline: none;
}

body {
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);
  background-color: #026aa7;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
body .header {
  position: relative;
  background-color: #014a75;
}
body .header__title {
  margin: 0;
  text-align: center;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}
body .header .dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  color: #17394d;
}
body .header .dropdown__title {
  padding: 10px 15px;
  line-height: 40px;
  border-radius: 1rem;
  background-color: #dfe3e6;
  text-transform: uppercase;
}
body .header .dropdown__content {
  position: absolute;
  right: 0;
  display: none;
  border-radius: 1rem;
  background-color: #dfe3e6;
}
body .header .dropdown__list {
  width: max-content;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
body .header .dropdown__link {
  padding: 0.25rem 0.5rem;
}
body .header .dropdown:hover .dropdown__content {
  display: block;
}
body .main {
  max-width: 100vw;
}
body .main__content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  overflow-x: scroll;
  height: calc(100vh - 2rem - 60px);
}
body .main--center {
  justify-content: center;
  align-items: center;
}
body .main .register__title, body .main .login__title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 0.5rem;
}
body .main .register .form, body .main .login .form {
  display: flex;
  flex-direction: column;
}
body .main .register .form__group, body .main .login .form__group {
  display: flex;
  flex-direction: column;
}
body .main .register .form__label, body .main .login .form__label {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
body .main .register .form__input, body .main .login .form__input {
  width: 400px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
body .main .register .form__button, body .main .login .form__button {
  margin-bottom: 0.5rem;
}
body .main .register .form__text, body .main .login .form__text {
  display: inline-block;
  margin: 0 0.5rem;
  color: #17394d;
}
body .main .board {
  min-width: 240px;
  max-width: 240px;
}
body .main .board__title {
  height: 30px;
  margin-bottom: 0.5rem;
  color: #17394d;
}
body .main .board .post {
  position: relative;
  margin-bottom: 0.5rem;
}
body .main .board .post__title {
  font-size: 14px;
  font-weight: 400;
}
body .main .board .post__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
body .main .board .post__button:focus {
  outline: 0;
}
body .main .board__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
body .main .board__button:focus {
  outline: 0;
}
body .main .add {
  min-width: 240px;
  max-width: 240px;
}

/*# sourceMappingURL=styles.css.map */
