html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0; }

.main-app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

#root, #root > div:first-child {
  width: 100%;
  height: 100%;
  overflow: hidden; }

img {
  width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.login-form {
  margin: 0 auto;
  width: 40%; }

.header .main-nav .nav {
  justify-content: flex-end; }
  .header .main-nav .nav .nav-item a {
    text-decoration: none;
    color: blue; }
    .header .main-nav .nav .nav-item a:hover {
      cursor: pointer; }

.board {
  padding: 2em 2em;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: space-between; }

.list {
  width: 23%;
  max-height: 500px;
  background-color: #dfe3e6;
  border-radius: 5px;
  overflow-y: auto;
  padding: 1em 1em;
  z-index: 100;
  position: relative; }
  .list .form-addcard {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    margin-top: 2em; }
    .list .form-addcard textarea {
      width: 100%;
      height: 65px; }
  .list .add-card {
    margin-top: 1em;
    display: inline-block;
    font-weight: 500;
    position: absolute;
    z-index: 500;
    bottom: 0;
    left: 10px; }
    .list .add-card:hover {
      cursor: pointer; }

.height-form-card {
  height: 152px !important; }

.postit {
  background-color: white;
  border-radius: 5px;
  padding: 1.5em 1em;
  margin-top: 1.5em;
  font-size: 0.8em;
  position: relative; }
  .postit a {
    position: absolute;
    top: 4px;
    right: 6px; }
  .postit p {
    margin: 0; }
  .postit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer; }
