extends layout
block content
      p Welcome #{name}!
<<<<<<< HEAD
      a(href='/home/createNewPostit') Create a note
=======
>>>>>>> ea429739bf968797505c1d6dae552937bc4ff8f2
      a(href='/logout') logout
      ul
        each val in text
            li= val