@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");
html {
  font-family: 'Spicy Rice', cursive; }

body {
  margin: 0;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

p {
  text-align: justify; }

#root {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto; }

body {
  background: url(../background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.width100 {
  width: 100%; }

.float-left {
  float: left !important; }

.text-aling-left {
  text-align: left !important; }

.no-margin-left {
  margin-left: 0 !important; }

.clear {
  clear: both; }

@-webkit-keyframes beemove {
  from {
    top: 0px; }
  to {
    top: 50%; } }

@keyframes beemove {
  from {
    top: 0px; }
  to {
    top: 50%; } }
.bees {
  height: 100%;
  padding: 1em; }
  .bees .bees__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -webkit-animation: beemove 1s infinite alternate ease-in;
            animation: beemove 1s infinite alternate ease-in; }
    .bees .bees__container .bees__bee {
      width: 100px;
      height: 100px; }
      @media screen and (min-width: 540px) {
        .bees .bees__container .bees__bee {
          width: 150px; } }
      @media screen and (min-width: 768px) {
        .bees .bees__container .bees__bee {
          height: 250px; } }
      .bees .bees__container .bees__bee:last-child {
        right: 0; }
    .bees .bees__container .bees_title {
      color: white;
      font-size: 2.5em;
      text-align: center; }
      .bees .bees__container .bees_title:hover {
        cursor: pointer; }
      @media screen and (min-width: 480px) {
        .bees .bees__container .bees_title {
          font-size: 4em; } }
      @media screen and (min-width: 540px) {
        .bees .bees__container .bees_title {
          font-size: 5em; } }
      @media screen and (min-width: 1024px) {
        .bees .bees__container .bees_title {
          font-size: 7em; } }
      @media screen and (min-width: 1280px) {
        .bees .bees__container .bees_title {
          font-size: 9em; } }

.home-section {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0%, #f8a900), color-stop(69%, #f6f6f6), to(#f6f6f6));
  background: linear-gradient(to bottom, white 0%, #f8a900 0%, #f6f6f6 69%, #f6f6f6 100%);
  position: relative;
  height: 100%; }
  .home-section .home-section__main {
    padding: 2em 2em; }
    .home-section .home-section__main .home-section__main__historia ul {
      list-style: disc;
      margin-left: 2em; }
      .home-section .home-section__main .home-section__main__historia ul li {
        padding-bottom: 0.5em; }
    .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-right {
      margin-bottom: 1em; }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-right {
          margin-bottom: 0; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-right {
          float: right; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-right {
          margin-left: 1em; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-right {
          width: 200px; } }
    .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-left {
      margin-bottom: 1em; }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-left {
          margin-bottom: 0; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-left {
          float: left; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-left {
          margin-right: 1em; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__img--float-left {
          width: 200px; } }
    .home-section .home-section__main .home-section__main__historia .home-section__main__historia__desc {
      overflow: hidden; }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__historia .home-section__main__historia__desc {
          overflow: visible; } }
    .home-section .home-section__main .home-section__main__historia .home-section__main__historia__title {
      text-align: center;
      color: green;
      text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); }
    .home-section .home-section__main .home-section__main__derivados > div,
    .home-section .home-section__main .home-section__main__tools > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: 1em;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .home-section .home-section__main .home-section__main__derivados > div p,
      .home-section .home-section__main .home-section__main__tools > div p {
        width: 100%;
        margin: 0; }
        @media screen and (min-width: 480px) {
          .home-section .home-section__main .home-section__main__derivados > div p,
          .home-section .home-section__main .home-section__main__tools > div p {
            width: 60%; } }
        @media screen and (min-width: 480px) {
          .home-section .home-section__main .home-section__main__derivados > div p,
          .home-section .home-section__main .home-section__main__tools > div p {
            margin-left: 1em; } }
        @media screen and (min-width: 640px) {
          .home-section .home-section__main .home-section__main__derivados > div p,
          .home-section .home-section__main .home-section__main__tools > div p {
            width: 60%; } }
        @media screen and (min-width: 1024px) {
          .home-section .home-section__main .home-section__main__derivados > div p,
          .home-section .home-section__main .home-section__main__tools > div p {
            width: 76%; } }
    .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
    .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
    .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
    .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
      width: 100%;
      margin-bottom: 1em; }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          width: 100px; } }
      @media screen and (min-width: 480px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          height: 100px; } }
      @media screen and (min-width: 540px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          width: 150px; } }
      @media screen and (min-width: 540px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          height: 150px; } }
      @media screen and (min-width: 640px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          width: 200px; } }
      @media screen and (min-width: 640px) {
        .home-section .home-section__main .home-section__main__derivados .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__derivados__img,
        .home-section .home-section__main .home-section__main__tools .home-section__main__tools__img {
          height: 200px; } }
    .home-section .home-section__main .home-section__main__derivados .home-section__main__dervidados__title,
    .home-section .home-section__main .home-section__main__derivados .home-section__main__tools__title,
    .home-section .home-section__main .home-section__main__tools .home-section__main__dervidados__title,
    .home-section .home-section__main .home-section__main__tools .home-section__main__tools__title {
      text-align: center;
      color: green;
      text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); }

.landing-section {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0%, #f8a900), color-stop(69%, #f6f6f6), to(#f6f6f6));
  background: linear-gradient(to bottom, white 0%, #f8a900 0%, #f6f6f6 69%, #f6f6f6 100%);
  position: relative;
  padding: 0em 1em;
  height: 100%; }
  .landing-section .panel-control {
    background-color: green;
    height: 100px;
    padding: 1em 0.5em;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -99px;
    margin-bottom: 3em;
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in; }
    .landing-section .panel-control:before {
      content: '\64';
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      bottom: -30px;
      width: 3em;
      background-color: green;
      cursor: pointer;
      left: calc(50% - 35px);
      color: #fcc920;
      font-size: 1.5em;
      padding: 4px 0; }
    .landing-section .panel-control .panel-control__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .landing-section .panel-control .panel-control__items .panel-control__item {
        width: 70px;
        height: 70px; }
        .landing-section .panel-control .panel-control__items .panel-control__item:hover {
          cursor: pointer; }
  .landing-section .farms-area {
    min-height: 500px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 0.5em; }

.nav-mobile {
  background-color: black;
  width: 100%;
  opacity: 0.9;
  -webkit-transition: left 0.3s linear, opacity 0.3s linear;
  transition: left 0.3s linear, opacity 0.3s linear;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  z-index: 1000; }
  @media screen and (min-width: 1024px) {
    .nav-mobile {
      display: none; } }
  .nav-mobile .nav-mobile__menu {
    padding: 0 2em; }
    .nav-mobile .nav-mobile__menu .nav-mobile__menu__item {
      text-align: center;
      padding: 2em 0;
      border-bottom: 1px solid #fcc920; }
      .nav-mobile .nav-mobile__menu .nav-mobile__menu__item:first-child {
        position: relative;
        padding-bottom: 0em;
        border-bottom: 0; }
        .nav-mobile .nav-mobile__menu .nav-mobile__menu__item:first-child::before {
          content: "\62";
          color: orange;
          font-size: 2em;
          position: absolute;
          right: 0; }
      .nav-mobile .nav-mobile__menu .nav-mobile__menu__item:last-child {
        margin-bottom: 4em; }
      .nav-mobile .nav-mobile__menu .nav-mobile__menu__item a {
        display: block;
        color: orange; }

.show-nav-mobile {
  left: 0;
  opacity: 1; }

.header {
  background: -webkit-gradient(linear, left top, right top, from(#feb645), color-stop(48%, #f1e767), to(#f1e767));
  background: linear-gradient(to right, #feb645 0%, #f1e767 48%, #f1e767 100%);
  width: 100%;
  max-width: 1280px;
  z-index: 100; }
  @media screen and (min-width: 1024px) {
    .header {
      padding-bottom: 2em; } }
  @media screen and (min-width: 1024px) {
    .header {
      padding-right: 1em; } }
  .header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em; }
    .header .header-container .header-container__logo {
      width: 50px;
      height: 50px; }
      @media screen and (min-width: 640px) {
        .header .header-container .header-container__logo {
          width: 60px; } }
      @media screen and (min-width: 640px) {
        .header .header-container .header-container__logo {
          height: 60px; } }
      @media screen and (min-width: 1024px) {
        .header .header-container .header-container__logo {
          width: 90px; } }
      @media screen and (min-width: 1024px) {
        .header .header-container .header-container__logo {
          height: 90px; } }
    .header .header-container .header-container__menu {
      font-size: 2em;
      color: green;
      text-align: right;
      padding-top: 5px; }
      @media screen and (min-width: 1024px) {
        .header .header-container .header-container__menu {
          display: none; } }
    @media screen and (min-width: 1024px) {
      .header .header-container {
        padding-bottom: 0; } }
  .header .header-container__actions {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 0.5em;
    display: none; }
    @media screen and (min-width: 1024px) {
      .header .header-container__actions {
        display: block; } }
    .header .header-container__actions .header-container__actions {
      height: 100%;
      padding-top: 1em; }
      .header .header-container__actions .header-container__actions .header-container__actions__item {
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s linear;
        transition: -webkit-transform 0.3s linear;
        transition: transform 0.3s linear;
        transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
        .header .header-container__actions .header-container__actions .header-container__actions__item:hover {
          -webkit-transform: scale(2, 2);
                  transform: scale(2, 2); }
        .header .header-container__actions .header-container__actions .header-container__actions__item:first-child {
          padding-right: 1em; }
        .header .header-container__actions .header-container__actions .header-container__actions__item:last-child {
          padding-left: 1em; }
        .header .header-container__actions .header-container__actions .header-container__actions__item a {
          color: green;
          text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
          background-clip: text; }
  .header .nav {
    padding: 1em 1em;
    width: 80%;
    margin-left: auto;
    border-radius: 10px;
    background-color: #f8a900;
    display: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
    @media screen and (min-width: 1024px) {
      .header .nav {
        display: block; } }
    .header .nav .nav__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header .nav .nav__menu .nav__menu__item {
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s linear;
        transition: -webkit-transform 0.3s linear;
        transition: transform 0.3s linear;
        transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
        .header .nav .nav__menu .nav__menu__item:hover {
          -webkit-transform: scale(2, 2);
                  transform: scale(2, 2); }
        .header .nav .nav__menu .nav__menu__item a {
          color: black;
          text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
          background-clip: text; }
          .header .nav .nav__menu .nav__menu__item a:hover {
            color: green; }
